@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,900;1,100;1,400&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    background-image: url('/src/images/gradient.png');
    border-radius: 10px;
    padding: 1rem;
    scroll-behavior: smooth;
    transition: 1s;
  }


  /* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg,
iframe,
video,
audio {
  max-width: 100%;
  border: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}
